<!DOCTYPE html>
{% load static %}

<html>

    <td background="{% static "contemporary_china_2.png" %}" no-repeat;>
    <head>
        <title>EBDB Website</title>
    </head>

        <body>

        <form action="/login/" method="post" align="right">
            Username:
            <input type="text" name="username" value="{{ username}}" /><br />
            Password:
            <input type="password" name="password" value="" /><br />

            <input type="submit" value="Log In"/>
         </form>

        <form action="/register/" method="post" align="right">
        <input type="submit" value="Register"/>
        </form>

    <body background="{% static "contemporary_china_2.png" %}">
        <h1>Welcome to TACO Corp's EBDB Website</h1>
        <a href="/Main/about/">About</a><br />
    </body>

    <body>
        <ul>
        {% for cg in categoriess %}
            <li><a href="/Main/{{ cg }}/">{{ cg }}</a></li>
        {% endfor %}
        </ul>
    </body>

    <body>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/Main/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

    </body>

    <body>
        <img src="{% static "shoe1.jpg" %}" alt="Shoe1" />
        <img src="{% static "shoe2.jpg" %}" alt="Shoe2" />
        <img src="{% static "shoe3.jpg" %}" alt="Shoe3" />
        <img src="{% static "shoe4.jpg" %}" alt="Shoe4" />
        <img src="{% static "shoe5.jpg" %}" alt="Shoe5" />
    </body>

</html>