<!DOCTYPE html>
{% load static %}

<html>

    <td background="{% static "contemporary_china_2.png" %}" no-repeat;>
    <head>
        <title>EBDB Website</title>
    </head>

        <body>
        <a href="/Main/">Home</a><br />

        {% if user.is_authenticated %}
        <form action="/Main/logout/" align="right">
         <input type="submit" value="Log Out">
        </form>
        {% else %}
        <form action="/Main/login/" align="right">
         <input type="submit" value="Log In">
        </form>
        {% endif %}
        <form action="/Main/register/" align="right">
         <input type="submit" value="Register New User">
        </form>

        <!--
        <div style="text-align:right">
        <a href="/Main/register/">Register Here</a>
        </div>
        -->

    <body background="{% static "contemporary_china_2.png" %}">
        <h1>Welcome to TACO Corp's EBDB Website</h1>

        {% if user.is_authenticated %}
        <h1>Taco says... Welcome Back {{ user.username }}!</h1>
        {% else %}
        <h1>Taco says... Welcome to our website!</h1>
        {% endif %}

        <a href="/Main/about/">About</a><br />
    </body>



    <body>
        <ul>
        {% for cg in categoriess %}
            <li><a href="/Main/{{ cg }}/">{{ cg }}</a></li>
        {% endfor %}
        </ul>
    </body>

    <body>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/Main/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
                <li><a href="/Main/search/">Search for Items</a></li>
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

    </body>


<!---
    <body>
        <img src="{% static "shoe1.jpg" %}" alt="Shoe1" />
        <img src="{% static "shoe2.jpg" %}" alt="Shoe2" />
        <img src="{% static "shoe3.jpg" %}" alt="Shoe3" />
        <img src="{% static "shoe4.jpg" %}" alt="Shoe4" />
        <img src="{% static "shoe5.jpg" %}" alt="Shoe5" />
    </body>
-->
</html>